.loading-spinner {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  &.show {
    display: flex;
  }

  img {
    width: 100%;
    height: 100%;
    z-index: 100;
    filter: brightness(1.6);
  }
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle>div {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-circle 7s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateZ(3600deg);
  }
}